@import '../../styles/settings.scss';

.side-nav {
    min-height: 100vh;
    .ant-menu {
        background-color: #001529;
        color: $lightTexColor;
    }
    .ant-menu-item-disabled {
        margin-left: -10px;
        color: rgba(255, 255, 255, 0.65) !important;
    }
    i {
        color: rgba(255, 255, 255, 0.65);
    }
    .ant-menu-submenu-title:hover {
        color: $lightTexColor;
        i {
            color: $lightTexColor !important;
        }
    }
    .ant-layout-sider-trigger {
        display: none;
    }
}