// #### Background Colors ####
// * Default Content Backbround
$defaultBackground: #eee;
// * Header, Tables, etc
$primaryBackground: #00adef;


// #### Text Colors ####
$lightTexColor: #ffffff;
$darkTextColor: #000;